GHL_BASE_URL=https://services.leadconnectorhq.com
GHL_LOCATION_ID=SeZr4YCwEZ50IcWqylkQ
GHL_API_TOKEN=ADD_YOUR_GHL_API_TOKEN
CLOUDFLARE_ACCOUNT_ID=0424a0a1799c8b3b7f0947a4e3a202ba
CLOUDFLARE_API_TOKEN=ADD_YOUR_CLOUDFLARE_API_TOKEN
WEBHOOK_SECRET=GENERATE_RANDOM_SECRET
ATTOM_API_KEY=
DATATREE_API_KEY=
SKIP_TRACE_API_KEY=
DNC_API_KEY=
DIRECT_MAIL_API_KEY=
